*{
  padding: 0;
  margin: 0;
}
.navbar{
  display:  flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgb(5,122,121);
  /* height: 70px; */
  color: #fff;
  padding-inline: 45px;
}
.navbar-left{
  display: flex;
  align-items: center;

}
.navbar-brand{
  font-size: 1.8rem;
  margin-right: 20px;
  text-decoration: none;
  color: white;

}
.navbar-right{
  display: flex;
  align-items: center;

}
.navbar-link{
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  transition: ease-in-out 1s all;
}
.navbar-link:hover{
  text-decoration: underline;
  color: red;
}